@import "tailwindcss";
@import "@nuxt/ui";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@theme static {
  --font-display: "Poppins", sans-serif;

  --color-eucalyptus-50: #d7ffec;
  --color-eucalyptus-100: #caf3df;
  --color-eucalyptus-200: #a5e5c7;
  --color-eucalyptus-300: #78cfa9;
  --color-eucalyptus-400: #58af8a;
  --color-eucalyptus-500: #338d6a;
  --color-eucalyptus-600: #097251;
  --color-eucalyptus-700: #005b3b;
  --color-eucalyptus-800: #004229;
  --color-eucalyptus-900: #002e1a;
  --color-eucalyptus-950: #001f0d;

  --color-golden-grass-50: #fcfaea;
  --color-golden-grass-100: #f9f3c8;
  --color-golden-grass-200: #f4e594;
  --color-golden-grass-300: #eed156;
  --color-golden-grass-400: #e7ba28;
  --color-golden-grass-500: #d7a31b;
  --color-golden-grass-600: #b97f15;
  --color-golden-grass-700: #945b14;
  --color-golden-grass-800: #7b4918;
  --color-golden-grass-900: #693d1a;
  --color-golden-grass-950: #3d1f0b;

  --color-white-pointer-50: #fdf7ff;
  --color-white-pointer-100: #f9e8ff;
  --color-white-pointer-200: #f4d5ff;
  --color-white-pointer-300: #ebb4fe;
  --color-white-pointer-400: #de84fc;
  --color-white-pointer-500: #d155f7;
  --color-white-pointer-600: #c133ea;
  --color-white-pointer-700: #a922ce;
  --color-white-pointer-800: #8d21a8;
  --color-white-pointer-900: #731c87;
  --color-white-pointer-950: #520764;
}
